<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>dev-taleometer.estrradoweb.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSTemporaryExceptionMinimumTLSVersion</key>
				<string>TLSv1.1</string>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>CommutersSans-Bold.ttf</string>
		<string>CommutersSans-BoldItalic.ttf</string>
		<string>CommutersSans-ExtraBold.ttf</string>
		<string>CommutersSans-ExtraBoldItalic.ttf</string>
		<string>CommutersSans-ExtraLight.ttf</string>
		<string>CommutersSans-ExtraLightItalic.ttf</string>
		<string>CommutersSans-Heavy.ttf</string>
		<string>CommutersSans-HeavyItalic.ttf</string>
		<string>CommutersSans-Italic.ttf</string>
		<string>CommutersSans-Light.ttf</string>
		<string>CommutersSans-LightItalic.ttf</string>
		<string>CommutersSans-Regular.ttf</string>
		<string>CommutersSans-SemiBold.ttf</string>
		<string>CommutersSans-SemiBoldItalic.ttf</string>
		<string>CommutersSans-Thin.ttf</string>
		<string>CommutersSans-ThinItalic.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
